<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocoa.mb.app.mapper.ActivityProjectMapper">

    <select id="getList" resultType="ActivityProject" parameterType="map">
        <!--<![CDATA[--><!-- 如果使用此标记,mybatis不是别 if test等标签 -->
            select * from activity_base_static
            <where>
                <if test='activity_id != null'>
                    activity_id=#{activity_id}
                </if>
                 <if test = 'activity_name != null'>
                    and activity_name like  #{activity_name}
                 </if>
                 <if test = 'status != null'>
                    and status=#{status}
                 </if>
            </where>
        <!--]]>-->
    </select>


    <select id="selectByStatus" resultType="ActivityProject">
        select * from activity_base_static
        <where>
            <foreach collection="list" index="i" item="it" open="status in (" separator="," close=")" nullable="true">
                #{it}
            </foreach>
        </where>
    </select>

    <select id="selectList" resultType="ActivityProject">
        select * from activity_base_static
        <where>
            <foreach collection="list" index="i" item="it" open="status in (" separator="," close=")" nullable="true">
                #{it.status}
            </foreach>
        </where>
    </select>

    <update id="update" parameterType="ActivityProject">
        update activity_base_static
        <set>
            <if test="activityName != null">activity_name=#{activityName},</if>
            <if test="status != null">status=#{status},</if>
        </set>
        where activity_id = #{activityId}
    </update>


</mapper>